extends layout

block content
	h1= title
	p Welcome to #{title}
	h1#btn_one 一个按钮

	//- a.weui-btn.weui-btn_primary(href='javascript:;') 页面主操作
	a.weui-btn.weui-btn_primary(href='http://47.105.182.64/wechat/clickBtn') 页面主操作

	script(src='http://res.wx.qq.com/open/js/jweixin-1.6.0.js')
	script(src='https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js')
	script.
		var signPackage = !{JSON.stringify(signPackage)};
		console.log('signPackage,,,jade',signPackage)
		wx.config({
			debug: true,
			appId: signPackage.appId,
			timestamp: signPackage.timestamp,
			nonceStr: signPackage.nonceStr,
			signature: signPackage.signature,
			jsApiList: [
				'chooseWXPay'
			]
		});
		wx.ready(function () {
			// 在这里调用 API
			console.log('wx ready');

			$('#btn_one').tap(function(){
				var url = "http://47.105.182.64/wechat/readyPay"
		        var request = new XMLHttpRequest();
		        request.open("GET", url);
		        request.send(null);
			});
		});

		wx.error(function(res){
			console.log('wx error,,,',res)
		});

