extends layout

block content
	h1= title
	p Welcome to #{title}
	h1#btn_pay 购买
	h2#btn_check 查询
	h2#btn_cancel 取消

	//- a.weui-btn.weui-btn_primary(href='javascript:;') 页面主操作
	a.weui-btn.weui-btn_primary(href='https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx4b871d03442ff7d4&redirect_uri=http://devrtommy.nat100.top/wechat/auth&response_type=code&scope=snsapi_base&state=123#wechat_redirect') 认证1

	script(src='http://res.wx.qq.com/open/js/jweixin-1.6.0.js')
	script(src='https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js')
	script.
		var signPackage = !{JSON.stringify(signPackage)};
		wx.config({
			debug: true,
			appId: signPackage.appId,
			timestamp: signPackage.timestamp,
			nonceStr: signPackage.nonceStr,
			signature: signPackage.signature,
			jsApiList: [
				'chooseWXPay'
			]
		});
		wx.ready(function () {
			// 在这里调用 API
			console.log('wx ready');

			$('#btn_pay').tap(function(){
				var url = `http://devrtommy.nat100.top/wechat/readyPay?openid=${signPackage.openid}`
		        var request = new XMLHttpRequest();
		        request.open("GET", url);
		        request.send(null);
			});

			$('#btn_check').tap(function(){
				var url = "http://devrtommy.nat100.top/wechat/checkPay"
		        var request = new XMLHttpRequest();
		        request.open("GET", url);
		        request.send(null);
			});

			$('#btn_cancel').tap(function(){
				var url = "http://devrtommy.nat100.top/wechat/cancelPay"
		        var request = new XMLHttpRequest();
		        request.open("GET", url);
		        request.send(null);
			});
		});

		wx.error(function(res){
			console.log('wx error,,,',res)
		});

