extends layout

block content
    script(src='http://res.wx.qq.com/open/js/jweixin-1.6.0.js')
    script(src='https://cdn.bootcss.com/zepto/1.0rc1/zepto.min.js')
    script.
        var signPackage = !{JSON.stringify(signPackage)};
        var payValue = !{JSON.stringify(payValue)};
        var cclog = console.log
        console.log('payValue in here',payValue)

        wx.config({
            debug: true,
            appId: signPackage.appId,
            timestamp: signPackage.timestamp,
            nonceStr: signPackage.nonceStr,
            signature: signPackage.signature,
            jsApiList: [
                'chooseWXPay'
            ]
        });

        wx.ready(function () {
            function onBridgeReady(){
                WeixinJSBridge.invoke('getBrandWCPayRequest', {
                    "appId":payValue.appId,     //公众号名称，由商户传入
                    "timeStamp":payValue.timeStamp,         //时间戳，自1970年以来的秒数
                    "nonceStr":payValue.nonceStr, //随机串
                    "package":payValue.package,
                    "signType":payValue.signType,         //微信签名方式：
                    "paySign":payValue.paySign //微信签名
                },
                function(res){
                    if(res.err_msg == "get_brand_wcpay_request:ok" ){
                        // 使用以上方式判断前端返回,微信团队郑重提示：
                        //res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                    }
                });
            }
            if (typeof WeixinJSBridge == "undefined"){
                if( document.addEventListener ){
                    document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
                }else if (document.attachEvent){
                    document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                    document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
                }
            }else{
                onBridgeReady();
            }
        });

    
